* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: var(--whitehighlight);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  justify-content: space-between;
  padding: 15px;
  background: var(--white);
}
.main {
  height: 100vh;
  width: 100%;
}
.nav-left img {
  margin-right: 10px;
}
.btn {
  padding: 10px;
  background: var(--whitehighlight);
  border: 1px solid var(--whitecontrast);
  border-radius: 5px;
  color: var(--black);
  text-decoration: none;
  box-shadow: 0 8px 32px 0 var(--shadow);
  transition: 0.25s;
}
.btn:hover {
  box-shadow: 0 0 0 0var(--shadow2);
  background: #e0f4ff;
  border-color: var(--lightblue);
}
.main-image {
  height: 650px;
}
.text {
  width: 40%;
  margin-left: 40px;
}
.text h1 {
  font-size: 2.4em;
}
.text p {
  margin: 10px 0 20px 0;
}
.spbtn {
  box-shadow: 0 8px 32px 0 var(--shadow4);
  background: #e0f4ff;
  border-color: var(--lightblue);
}
.spbtn:hover {
  box-shadow: 0 0 0 0 var(--shadow3);
}
b {
  font-weight: 600;
}
.features {
  height: 100vh;
  width: 100%;
}
.features img {
  height: 500px;
}
ul {
  padding: 0 20px;
}
.footer {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  text-align: center;
  flex-direction: column;
}
.download {
  box-shadow: 0 8px 32px 0 var(--shadow4);
  background: #e0f4ff;
  border: 1px solid var(--lightblue);
  border-radius: 10px;
  padding: 30px;
  width: 40%;
}
.download h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
.download .btn {
  margin-right: 5px;
}
.footer h3 {
  margin: 15px 0;
}
.footer h3 a {
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid var(--gradient1);
  transition: .5s;
}
.footer h3 a:hover{
  border-bottom: 0px;
}
